body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 0px;
    background-color: #400000;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('images/03.jpg');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.half {
    flex: 1;
   padding: 20px;
}

.artist-picture {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
	justify-content: center;
	margin-left: 100px;
}

.cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
	margin-right: 60px;
}

.cv h1 {
    font-size: 3em;
	margin-bottom: 0px;
	color: #fff;
}

.cv h2 {
    font-size: 1.5em;
	font-style: italic;
	margin-top: 0px;
    margin-bottom: 0px;
	color: #fff;

}

.cv p {
    margin: 10px 0;
	color: #ffff80;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
	font-size: 1.5em;
    margin: 10px 5px;
    background-color: #ffff00;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff8000;
    color: #000;
	
}

.social-media {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
	color: #ffff00;
	}

.social-btn {
    display: inline-block;
    padding: 6px 6px 1px 6px;
    margin: 5px;
    background-color: #ddd;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-btn:hover {
    background-color: #ffff00;
    color: #fff;
}

@media (max-width: 768px) {
    .flexbox {
        flex-direction: column;
    }
    .half {
        flex-basis: 100%;
    }
	.artist-picture {
	margin-left: 100px;
	}
	.cv {
	margin-right: 0px;
	}
	.container {
    max-width: 1280px;
    margin: auto;
    padding: 0px;
    background-color: #004000;
	background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.66)), url('02222.jpg');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
}

	@keyframes fadeIn {
		0% { opacity: 0 }
		100% { opacity: 1 }
	}

	#fadeIn1, #fadeIn2, #fadeIn3, #fadeIn4, #fadeIn4b, #fadeIn4c, #fadeIn4d, #fadeIn4e, #fadeIn4f {
		opacity: 0;
		transition: opacity ease-in-out;
	}

	#fadeIn1 {
		animation: fadeIn 3s 0.3s forwards;
	}
		
	#fadeIn2 {
		animation: fadeIn 3s 1.3s forwards;
	}
		
	#fadeIn3 {
		animation: fadeIn 3s 2.3s forwards;
	}
	
	#fadeIn4 {
		animation: fadeIn 3s 3.1s forwards;
	}
	
	#fadeIn4b {
		animation: fadeIn 3s 3.4s forwards;
	}
	
	#fadeIn4c {
		animation: fadeIn 3s 3.7s forwards;
	}
	
	#fadeIn4d {
		animation: fadeIn 3s 4s forwards;
	}
	
	#fadeIn4e {
		animation: fadeIn 3s 4.3s forwards;
	}
	
	#fadeIn4f {
		animation: fadeIn 3s 4.6s forwards;
	}